body {
    background-color: silver;	
	text-align:left;
	font-family:'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}
.head{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}
.picture img{
	border-radius: 50%;
	border-width: 1px;
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.top-section{
	margin: 10px 0;
}
.name{
	font-size: 20px;
	font-weight: bold;
	margin: 2px 0;
}
.address p, .address a {
	text-align: center; 
	justify-content: center;
	padding: 5px;
	margin: 2px 0;
	color: black;
	text-decoration: none;
}
.address a {
	text-decoration: underline;
}
.textFormation{
	margin: 15px;
	padding: 0px;
}
.columns {
	display:flex;
	justify-content: space-around; /* Week 3 lab - point 2 - usage of justify content */
	text-align: left;
}
.columns div {
	flex:1;
	border: 1px #ccc solid;
	padding:10px;
	margin:10px;
}
.col-1, .col-2, .col-3 {   /* Week 3 lab - point 1 - 3 columns created */
	text-align:left;
}
@media (min-width768px){     /* Week 3 lab - point 3  - usage of media query*/
	.columns {
		flex-direction: column;
	}
}
p{
	color:black;
	font-family:'Times New Roman', Times, serif;
	font-size: 20px;
}
.highlight{
	text-decoration: underline;
	font-weight: bold;
}
.bottomline{
	text-decoration: underline; 
	font-weight: bold;
}
.letterbox { 
	margin:10px 0;
	border: 1px black ridge;
	border-radius: 1px;
	padding:10px;
}

.jump:hover{
	font-size:150%
}